.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 75%;
  margin: auto;
}

h1{
  text-align: center;
}

.button-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
button{
  &.mat-button{
    color: white;
    &.send{
      background: rgb(56, 109, 255);
    }
    &.cancel{
      background: rgb(223, 58, 58);
    }
  }
}
}
